body {
    overflow-y: scroll;
    padding: 0;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
}
pre, code, tt {
    font-family: 'andale mono', 'lucida console', monospace
}
div.top.nav {
    background: white;
    z-index: 1;
}
p {
    width: 32em;
}
a.page {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    font-size: 2em;
    text-align: right;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0 1.5em;
}
a.page.next {
    right: 0;
}
a.page:hover {
    color: #06c;
    background: #efefef;
}
a.page span.space {
    display: block;
    height: 45%;
}
span.flip {
    display: block;
    -moz-transform: rotate(180deg);  
    -o-transform: rotate(180deg);  
    -webkit-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);  
    transform: rotate(180deg);  
    zoom: 1;
}

a.fork {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
a.tochead {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
    padding: 1.5em 0em 0em;
}
.collap a.tochead:hover {
    color: #06c;
    background: #efefef;
}
a.header-link {
    color: inherit;
    text-decoration: none;
    margin-left: 0.1em;
}
a.header-link:hover {
    color: #06c;
    background: #efefef;
}
h1:hover span.header-link-content:before,
h2:hover span.header-link-content:before,
h3:hover span.header-link-content:before,
h4:hover span.header-link-content:before,
h5:hover span.header-link-content:before {
    content: '§';
    width: 2em;
    font-size: 0.75em;
    vertical-align: top;
}
