body {
    font-size: 100%;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
    padding: 0 1em;
}
div.title {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    border-bottom: black solid 1px;
}
div.container {
    position: relative;
    background: white;
    height: 100%;
}
div.contents {
    padding-top: 2.5em;
    background: white;
}
.current {
    font-weight: bold;
}
ol.toc ol.toc {
    list-style-type: lower-alpha;
}
ol.toc ol.toc ol.toc {
    list-style-type: lower-roman;
}
a.page {
    display: none;
}