body {
    font-size: 100%;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
}
p {
    width: 30em;
}
div.topnav {
    border-bottom: black solid 1px;
    text-align: center;
}
div.topnav span.title {
    font-style: italic;
    font-size: 1.2em;
}
div.topnav a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
div.contents {
    margin-top: 2em;
}
