name: ci
on:
  push:
  pull_request:
jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: temurin
    - uses: actions/checkout@v6
    - uses: sbt/setup-sbt@v1
    - run: sbt -v -Dfile.encoding=UTF8 "+test" testConscript makeSite
    - id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      with:
        app-id: 89697
        private-key: ${{ secrets.FOUNDWEEKENDS_BOT_KEY }}
    - name: Push to gh-pages
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
      with:
        GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        BRANCH: gh-pages
        FOLDER: target/site
        CLEAN: true
