name: ci
on:
  push:
  pull_request:
jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: temurin
    - uses: actions/checkout@v5
    - uses: sbt/setup-sbt@v1
    - run: sbt -v -Dfile.encoding=UTF8 "+test" testConscript makeSite
    - id: generate_token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      with:
        app-id: 89697
        private-key: ${{ secrets.FOUNDWEEKENDS_BOT_KEY }}
    - name: Push to gh-pages
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
      with:
        GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        BRANCH: gh-pages
        FOLDER: target/site
        CLEAN: true
